.title-text2 {
    
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    margin: 60px;
}