
.border2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 700px;
  height: 160vh;
  margin: 10vh auto;
  border-radius: 5px;
  background: white;
  border: 1px solid #3C4E6F;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.title{
  margin-top:30px;
  margin-bottom: 80px;
  align-self: center;
}

.heading-2{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align: left !important;
  margin-bottom: 0px;
  margin-top:10px;
}

.submit{
  position:relative;
}
.submitbtn{
  position: absolute;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background: #3C4E6F;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 38px;
  color: white !important;
  text-align: center;
  margin-top: 30px;
  margin-left: 150px;
}
.submitbtn2{
  width: 200px;
  height: 50px;
  background: #3C4E6F;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 38px;
  color: white !important;
  text-align: center;
  padding:0;
}

.ant-select{
  background-color: #3C4E6F80;
}
 .ant-input{
    background-color: #3C4E6F80;
    /* width: 200%; */
}
.ant-select-selector {
  width: 200% !important;
  background-color: #3C4E6F80 !important;
}



/* .pay {
    position: relative;
  }
  
  .pay a {
    position: absolute;
    top: 50%;
    right: -300px; /* Adjust as needed */
    /* transform: translateY(-50%); */
  /* } */ 


