.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/home-background.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .Home-second-div {
    display: flex;
    column-gap: 50px;
    margin:40px;
  
  }
  img{
  height: 80%;
  }
  .paragraph {
    text-align: center;
    font-size: 24px;
    padding-bottom:20px ;
  }
  .first-column {
    width: 30%;
  }
  .second-column {
    width: 70%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-home {
    color: white;
    font-size: 24px;
    font-weight: 600;
    background-color: #3D4E6F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
  }
  @media only screen and (max-width:1024px) 
  {
    .background {
      background-image: url("../../assets/home-background.jpg");
      background-size: cover;
      background-position: center;
      height: 100px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgb(180, 180, 180, 0.5);
    } 
  }
  
  @media only screen and (max-width: 650px){
  
    .background {
      background-image: url("../../assets/home-background.jpg");
      background-size: cover;
      background-position: center;
      height: 100px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    
      display: flex;
      flex-direction: column;
      justify-content: center;
    
      background-color: rgb(180, 180, 180, 0.5);
    } 
    .paragraph {
      text-align: center;
      font-size: 18px;
      padding-bottom:10px ;
    }
    button {
      color: white;
      font-size: 18px;
      font-weight: 400;
      background-color: #3c4e6f;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      border: none;
      border-radius: 5px;
    }
    .first-column {
      width: 100%;
    }
    .second-column {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .Home-second-div {
      display: flex;
      flex-direction: column;
      row-gap:10px;
      margin:10px;
    
    }
    img{
      height: auto; 
      max-width: 100%; 
      overflow: hidden;
      display: block;
      margin-left: auto; /* Auto margin to center horizontally */
      margin-right: auto;
   }
  }
  