
.Tracking-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin:20px;
 }
  
  .Tracking-organization-list {
    flex: 1;
    padding: 20px;
    background-color: #3C4E6F;
    color: #B0B0B0;
    border-radius: 20px;
  }

  .Tracking-organisation-list2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    row-gap: 60px;
    padding: 60px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(30, 62, 103, 0.25);
  }
  .Tracking-organisation-list2 h2{
    font-size: 32px;
    font-weight: 600px;
  }

  .Tracking-organisation-list2 a{
    color: #3A60A4;
  }
  
  .Tracking-organization-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
    position: relative;
  }
  
  .Tracking-organization-item::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
  }
    
  .Tracking-organization-item:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 30px;
    width: 2px;
    height: 40px;
    background-color: #B0B0B0;
  }
  
  .Tracking-organization-item.not-current::before {
    background-color: #B0B0B0;
  }
  
  .Tracking-organization-item.current {
    font-weight: bold;
    color: white;
  }
  
  .Tracking-organization-item.current::before {
    background-color: white;
    color:white;
  }
  
  .Tracking-organization-item:not(.current) + .organization-item.current::before {
    font-weight: normal;
  }

  .Tracking-tracking-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    row-gap: 60px;
    padding: 60px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(30, 62, 103, 0.25);
  }

  .Tracking-tracking-form h2{
    font-size: 32px;
  }

  .Tracking-tracking-form p{
    color: red;
  }
  
  .Tracking-input-field {
    width: 500px;
    padding: 10px;
    border: 1px solid #EDF0F4;
    background-color: #EDF0F4;
    border-radius: 5px;
  }
  
  .Tracking-status-button {
    background-color: #3A60A4;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Tracking-back-button {
    background-color: white;
    color: #CBD2DB;
    padding: 10px 60px;
    border: 1px solid #CBD2DB;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Tracking-status-button:hover {
    box-shadow: 0 4px 8px rgba(30, 62, 103, 0.25);
  }

  .Tracking-back-button:hover {
    box-shadow: 0 4px 8px rgba(30, 62, 103, 0.1);
  }
  
  .Tracking-result-text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .Tracking-result-text-found {
    color: black;
  }
  
  .Tracking-result-text-not-found {
    color: red;
  }

  .Progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Progress-bar {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }
  
  .Progress-segment {
    flex: 1;
    height: 4px; /* Height of the progress bar */
    background-color: #ddd; /* Inactive color */
  }
  
  .Progress-segment-active {
    background-color: #3A60A4; /* Active color */
  }
  
  .Organization-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .Organization-item {
    text-align: center; /* Center align text under the progress segment */
    width: 100%;
    position: relative;
  }
  
  .Organization-item-active {
    font-weight: bold; /* Highlight current step */
    color: #3A60A4;
  }
  
  .Organization-item-inactive {
    color: #ddd;
  }
  

  /* .Progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Progress-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
  }
  
  .Progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .Progress-circle {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background-color: #ddd; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 1; 
  }
  
  .Progress-circle-active {
    background-color: #4caf50; 
  }
  
  .Progress-circle-inactive {
    background-color: #ddd; 
  }
  
  .Progress-step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 500%; 
    height: 4px; 
    background-color: #ddd; 
    transform: translateY(-50%);
    z-index: 0;
  }
  
  .Progress-circle-active + .Progress-step:not(:last-child)::after {
    background-color: #4caf50; 
  }
  
  .Organization-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .Organization-item {
    text-align: center; 
    width: 100%;
    position: relative;
  }
  
  .Organization-item-active {
    font-weight: bold; 
    color: #4caf50;
  }
  
  .Organization-item-inactive {
    color: #ddd;
  }
   */